<p>
    <%= cep %><br>
    <%= logradouro %><br>
    <%= complemento %><br>
    <%= bairro %><br>
    <%= localidade %><br>
    <%= uf %><br>
    <%= ibge %><br>
    <%= gia %><br>

</p>
<div>
    <script 
    src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap">
    defer
    </script>
</div> 